<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
</head>
<body>
    <div class="cont">
        <h2>Register</h2>

        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p style= "color:red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}

        <form action="/user/register" method="POST">

            <label for="first">First Name:</label><br>
            <input id="first" type="text" name="first_name"><br><br>

            <label for="last">Last Name:</label><br>
            <input id="last" type="text" name="last_name" ><br><br>

            <label for="email">Email:</label><br>
            <input id="email" type="text" name="email"><br><br>

            <label for="password">Password:</label><br>
            <input id="password" type="password" name="password"><br><br>

            <label for="confirm_password">Confirm Password:</label><br>
            <input id="confirm_password" type="password" name="confirm_password"><br><br>

            <input  type="submit" value="Register">

        </form>
    </div>
    <div class="cont">
        <h2>Login</h2>
        <form action="/user/login" method="POST">

            <label for="email">Email:</label><br>
            <input id="email" type="text" name="email"><br><br>

            <label for="password">Password:</label><br>
            <input id="password" type="password" name="password"><br><br>

            <input  type="submit" value="Register">

        </form>
    </div>
</body>
</html>